<ion-header>
  <ion-toolbar>
    <ion-title>Moedas em tempo real</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="buton-center">
  <ion-button class="buton" (click)="updateCurrencies()">Atualizar Moedas</ion-button>
</div>

  <ion-list>
    <ion-item *ngFor="let currency of objectKeys(currencies)">
      <ion-label>
        <h2>{{ currency }}</h2>
        <p>Taxa: {{ currencies[currency] }}</p>
      </ion-label>

      <ion-icon [name]="getTrendIcon(currency)" slot="end"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>
        <h3>Moedas em Alta</h3>
        <p>{{ currenciesUp.join(', ') }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Moedas em Baixa</h3>
        <p>{{ currenciesDown.join(', ') }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
